*.log
*.log.*

# Build outputs
.next/
out/
build/
dist/
coverage/
storybook-static/

# Environment
.env
.env.local
.env.*.local
!.env.test
!.env.example

# Dependencies
node_modules/
.pnpm-store/

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/playwright-report/
/test-results/
/blob-report/
/playwright/.cache/

# Misc
.turbo/
